{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reservation</title>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/css/datepicker-bs5.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/notie/4.3.1/notie.min.css"
      integrity="sha512-UrjLcAek5jbj1vwGbXkviPHtgSNVNQCedX7cBIMDdSI2iZtUcZcoTh2Sqc8R9mVcijOjFUi1IlxhfrE1uWaIog=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/static/css/styles.css" />
    {{block "css" .}}

    {{
      end
    }}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Navbar</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Rooms
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="/generals-quarters"
                    >General's Quarters</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/majors-suite"
                    >Major's Suite</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/search-availability">Book Now</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {{block "content" .}}

    {{ end }}
    <div class="row my-footer">
      <div class="col">Left</div>
      <div class="col">Middle</div>
      <div class="col">Right</div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
      integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
      integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/js/datepicker-full.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/notie/4.3.1/notie.min.js"
      integrity="sha512-NHRCwRf2LnVSlLDejCA9oS3fG3/FLSQIPCjAWl3M7tVi5wszwr6FxkjotWnQDXLE+aLKcxRrzFDNEgXj9nvkPw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {{block "js" .}}

    {{ end }}
    <script>
      let attention = Prompt();

      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (() => {
        "use strict";

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll(".needs-validation");

        // Loop over them and prevent submission
        Array.from(forms).forEach((form) => {
          form.addEventListener(
            "submit",
            (event) => {
              if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
              }

              form.classList.add("was-validated");
            },
            false
          );
        });
      })();

      function notifyModal(title, text, icon, configuration) {
        Swal.fire({
          title: title,
          html: text,
          icon: icon,
          confirmButtonText: configuration,
        });
      }

      function notify(msg, msgType) {
        notie.alert({
          type: msgType,
          text: msg,
        });
      }

      function alertSuccess(msg) {
        notify(msg, "success");
      }

      function alertError(msg) {
        notify(msg, "error");
      }

      function alertWarning(msg) {
        notify(msg, "warning");
      }

      function Prompt() {
        let toast = function (c) {
          const { msg = "", icon = "success", position = "top-end" } = c;
          const Toast = Swal.mixin({
            title: msg,
            icon: icon,
            toast: true,
            position: position,
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
              toast.addEventListener("mouseenter", Swal.stopTimer);
              toast.addEventListener("mouseleave", Swal.resumeTimer);
            },
          });

          Toast.fire({});
        };

        let success = function (c) {
          const { title = "Success", msg = "", footer = "" } = c;
          Swal.fire({
            icon: "success",
            title: title,
            text: msg,
            footer: footer,
          });
        };

        let error = function (c) {
          const { title = "Error", msg = "", footer = "" } = c;
          Swal.fire({
            icon: "error",
            title: title,
            text: msg,
            footer: footer,
          });
        };

        let custom = async function (c) {
          const { msg = "", title = "" } = c;

          const { value: formValues } = await Swal.fire({
            title: title,
            html: msg,
            backdrop: false,
            focusConfirm: false,
            showCancelButton: true,
            willOpen: () => {
              const elem = document.getElementById("reservation-dates-modal");
              const rp = new DateRangePicker(elem, {
                format: "dd-M-yyyy",
                showOnFocus: true,
              });
            },
            didOpen: () => {
              document.getElementById("start").removeAttribute("disabled");
              document.getElementById("end").removeAttribute("disabled");
              let elem = document.getElementsByClassName("swal2-actions")[0];
              elem.style.zIndex = "0";
            },
            preConfirm: () => {
              return [
                document.getElementById("start").value,
                document.getElementById("end").value,
              ];
            },
          });

          if (formValues) {
            Swal.fire(JSON.stringify(formValues));
          }
        };

        return {
          toast: toast,
          success: success,
          error: error,
          custom: custom,
        };
      }
    </script>
  </body>
</html>
{{ end }}
