{{template "base" .}}
{{define "content"}}
<div class="container">
  <div class="row">
    <div class="col">
      <img
        src="static/images/marjors-suite.png"
        alt="Generals Quarters Image"
        class="room-image img-thumbnail mx-auto d-block"
      />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1 class="text-center mt-4">Majors Suite</h1>
      <p>
        Your home away from home set on the majestic waters of the atlantic
        ocean. This will be a vacation to be remembered. Your home away from
        home set on the majestic waters of the atlantic ocean. This will be a
        vacation to be remembered. Your home away from home set on the majestic
        waters of the atlantic ocean. This will be a vacation to be remembered.
        Your home away from home set on the majestic waters of the atlantic
        ocean. This will be a vacation to be remembered. Your home away from
        home set on the majestic waters of the atlantic ocean. This will be a
        vacation to be remembered. Your home away from home set on the majestic
        waters of the atlantic ocean. This will be a vacation to be remembered.
        Your home away from home set on the majestic waters of the atlantic
        ocean. This will be a vacation to be remembered.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <a href="/make-reservation-ms" class="btn btn-success">
        Check Availability
      </a>
    </div>
  </div>
</div>
{{ end }}
